*
{
   padding:0;
   margin:0;
}
.mk
{
    display: flex;
    justify-content: space-evenly;
    width:100%;
}

#xyz{
    color:black;
    font-size:40px;
    padding:none;
}
.v{
    display: flex;
    justify-content:space-evenly;
   width:900px;
    padding:0;
    height:70px;
}
a{
    
    color:black;
    font-size:20px;
    text-decoration: none;

}
header{
    display:flex;
    color:black;
    font-size:30px;
}
.abc{
    height:10px;
    width:600px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#pqr{
    color:black;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#a{
    display:inline-block;
    width:200px;
    height:200px;
    margin-left:10px;
    color:rgb(128, 128, 128);
    font-size:18px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
.b{
    background-image:linear-gradient(to right,purple, blue,rgba(255, 0, 0, 0.16) );
    background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top:0px;
    margin-right:0px;
    font-size:35px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-top:0px;
    padding-bottom:0px;
}
.c{
    color:rgb(8, 5, 48);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding:0px;
    font-size:22px;
}
.main{
    display: flex;
    justify-content:space-around;
    margin-top:80px;
}
.d{
    margin-right:50px;
    margin-left:300px;
}
   
.img{
    height:250px;
}
.e{
    color:black;
    background-color: rgb(255, 225, 0);
    display:flex;
    justify-content: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-top:5px;
    padding-bottom:5px;
    font-size:20px;
    border-radius:8px;

}
.f{
    display:flex;
    justify-content: center;
    align-items:center; 
    margin-top:150px;   
}
.img1{
    height:40px;
}
.img2{
    height:30px;
}
.img3{
    margin-top:10px;
}
.img4{
    height:35px;
}
.gun{
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items:center;
    font-size:20px;
    padding-top:10px;

}
.verma{
    display:flex;
    justify-content:center;
    align-items: center;

}
.imgg{
    height:350px;
    border-radius: 3%;
}
.edit{
    padding-top:90px;
    margin-right:70px;
}
.abcd{
    font-size:25px;
}
.abcd{
    padding-top:50px;
}
.snap{
    display:flex;
    justify-content: center;
    align-items: center;
    padding-top:70px;
    font-size:20px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.room{

    display:flex;
    justify-content: space-around;
}
.main0{
    display:flex;
    justify-content:center;
    padding-right:70px;
    padding-top:50px;

}
.main1{
    display: flex;
    justify-content: center;
    align-items: center;
    width:250px;
    height:250px;
    box-shadow: 3px 5px 5px 5px grey;
    border-bottom-color:5px blue;
    margin-right:30px;
    border-radius: 2%;
    flex-direction: column;
margin-bottom:100px;
border-bottom:solid thick blue;

}
.main2{
    display: flex;
    justify-content: center;
    align-items: center;
    width:250px;
    height:250px;
    box-shadow: 3px 5px 5px 5px grey;
    margin-right:30px;
    border-radius: 2%;
    flex-direction: column;
    border-bottom:solid thick yellow;

}
.main3{
    display: flex;
    justify-content: center;
    align-items: center;
    width:250px;
    height:250px;
    box-shadow: 3px 5px 5px 5px grey;
    margin-right:30px;
    border-radius: 2%;
    flex-direction: column;
    border-bottom:solid thick red;

}
.main4{
    display: flex;
    justify-content: center;
    align-items: center;
    width:250px;
    height:250px;
    box-shadow: 3px 5px 5px 5px grey;
    border-radius: 2%;
    flex-direction: column;
    border-bottom:solid thick green;

}
a:hover {
    color: black;
}

.active {
    color: black;
    text-decoration: underline;

}
.personal{
    display:flex;
    justify-content:space-evenly;
    margin-top:100px;
    text-align: center;
    margin-top:0px;
    margin-bottom:0px;
    width:100%;
    height:80%;
    background-color: brown;
    
}
.main5{
    border:solid thick blue;
    height:100px;
    width:200px;
    justify-content:center;
    align-items: center;
}
.main6{
    width:100px;
    height:50px;
}
.edit1{
   width:50px;
   height:50px;
   border:solid thick blue;
}
.per{
    border:solid thick blue;
    height:300px;
    width:400px;

}
.gunjan{
    display:flex;
    justify-content: center;
    align-items: center;
    font-size:40px;
    padding-bottom:0px;
}
.mywork{
	border:1px solid grey;
	display:flex;
	justify-content:center;
	margin-top:10px;
border-bottom:none;
	height:600px;
	align-items:center;
	width:100%;
	background: rgba(255,255,255,0.35);
	backdrop-filter: blur(10px);

}
.workcard{
	border:1px solid grey;
	padding:20px;
	margin-right:20px;
	
	width:200px;
	box-shadow:2px 2px 5px;
	height:200px;


border-radius:.5rem;
	
	
}

.workcard p{
	margin-top:20px;
	font-weight:bold;
	font-size:20px;
	padding:10px 20px;
	border:0px solid blue;
		color:black;
	text-shadow:5px 5px 10px black;
	background: rgba(255,255,255,0.35);
	backdrop-filter: blur(10px);
	border:1px solid grey;
	box-shadow:20px 0 50 black;
	border:2px solid white;
}
.wordcard p:hover{
	color:grey;
	box-shadow:10px 10px 50px black;
}
.skill{
	width:800px;
	margin:60px auto;
	color:white;
	padding:20px;
	display:flex;
	justify-content: center;
	
}
.skill h1{
	color:black;
}
.skill li {
	margin:20px 0px;
	padding:10px;

}
h5{
	color:black;
}	
.bar{
	background:#eee;
	display:block;
	height:5px;
	border:2px solid rgba(0,0,0,0.3);
	border-radius:0 1px 3px rgba(0,0,0,0.17),rgba(0,0,0,0.24);
	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.ar{
	background:#eee;
	display:block;
	height:5px;
	border:2px solid rgba(0,0,0,0.3);
	border-radius:0 1px 3px rgba(0,0,0,0.17),rgba(0,0,0,0.24);
	transition: all 0.3s cubic-bezier(.25,.8,.25,1);

}
.bar:hover{
	box-shadow: 0 14px 28px rgba(0,0,0,0.25),0 10px 10px rgba(0,0,0,0.22);
}
.bar span{
	height:5px;
	float:left;
	background:skyblue;
}
.ar span{
	height:5px;
	float:left;
	background:yellow;
}
.r{
	background:#eee;
	display:block;
	height:5px;
	border:2px solid rgba(0,0,0,0.3);
	border-radius:0 1px 3px rgba(0,0,0,0.17),rgba(0,0,0,0.24);
	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.r span{
	height:5px;
	float:left;
	background:greenyellow;

}
.photoshop{
	width:75%;
	animation:photoshop 3s;
}
.html{
	width:85%;
	animation:html 3s;

}
.wordpress{
	width:70%;
	animation:wordpress 3s;
}
.jquary{
	width:60%;
	animation:jquary 3s;
}
.CSS{
	width:90%;
	animation:CSS 3s;

}
.SEO{
	width:55%;
	animation:SEO 3s;
}

.lft{
	border:2px solid ;
width:500px;
background-color: rgba(255,255,255,0.35);

}
.rtf{
	border:2px solid ;
	width:500px;
	background-color: rgba(255,255,255,0.35);

	border-left:none;
}
.chr span{
	height:5px;
	float:left;
	background:red;
}
.hr span{
	height:5px;
	float:left;
	background:purple;
}
.k span{
	height:5px;
	float:left;
	background:blue;
}
.k{
	background:#eee;
	display:block;
	height:5px;
	border:2px solid rgba(0,0,0,0.3);
	border-radius:0 1px 3px rgba(0,0,0,0.17),rgba(0,0,0,0.24);
	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.hr{
	background:#eee;
	display:block;
	height:5px;
	border:2px solid rgba(0,0,0,0.3);
	border-radius:0 1px 3px rgba(0,0,0,0.17),rgba(0,0,0,0.24);
	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.chr{
	background:#eee;
	display:block;
	height:5px;
	border:2px solid rgba(0,0,0,0.3);
	border-radius:0 1px 3px rgba(0,0,0,0.17),rgba(0,0,0,0.24);
	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.my{
	border:2px solid white;
	background-color: rgba(0,0,0,0.3);
	margin-top:20px;
	
	opacity: .5;

}
 .my h1{
	text-shadow: 2px 2px 5px black;
	padding-top:40px;
 }
	
@keyframes photoshop{
	0%{
		width:0%;

	}
	100%{
		width:75%;
	}
}


@keyframes HTML{
	0%{
		width:0%;

	}
	100%{
		width:85%;
	}
}


@keyframes wordpress{
	0%{
		width:0%;

	}
	100%{
		width:70%;
	}
}


@keyframes jquary{
	0%{
		width:0%;

	}
	100%{
		width:60%;
	}
}


@keyframes CSS{
	0%{
		width:0%;

	}
	100%{
		width:90%;
	}
}


@keyframes SEO{
	0%{
		width:0%;

	}
	100%{
		width:55%;
	}
}
#skill{
	color:cadetblue;
	text-decoration: underline;
	transition: all 3s;
}
	
.moon{
    height:300px;
    width:400px;
    margin-right:100px;
    margin-top:40px;
    box-shadow: 3px 5px 5px 5px grey;
}
    .star{
        box-shadow: 3px 5px 5px 5px grey;
    height:400px;
    width:400px;
    
    }
    .sun{
        display: flex;
        justify-content: center;
        align-self: center;
        margin-top:60px;

    }
.gv{
    display: flex;
    justify-content: center;
    align-self: center;
}
#vvv{
    display: flex;
}
#eee{
    display: flex;  
}